@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* colors */
  --color-primary: #1fcc79;
  --color-secondary: #ff6464;
  --color-typography-primary: #2e3e5c;
  --color-typography-secondary: #9fa5c0;
  --color-outline: #d0dbea;
  --color-surface: #f4f5f7;
  /* typography */
  --font-inter: "Inter", "sans-serif";
  /* 12px */
  --text-xs: 0.75rem;
  /* 15px */
  --text-sm: 0.938rem;
  /* 17px */
  --text-base: 1.063rem;
  /* 22px */
  --text-large: 1.375rem;

  --leading-xs: 0.938rem;
  --leading-sm: 1.563rem;
  --leading-base: 1.688rem;
  --leading-large: 2rem;
}

@layer base {
  * {
    @apply font-inter text-base leading-base;
  }

  h1 {
    @apply text-large leading-large font-bold;
  }
  h2 {
    @apply text-base leading-base font-bold;
  }
  h3 {
    @apply text-sm leading-sm font-bold;
  }

  p {
    @apply text-base leading-base font-medium;
  }

  span {
    @apply text-sm leading-sm font-medium;
  }

  small {
    @apply text-xs leading-xs font-medium;
  }
  *::-webkit-scrollbar {
    @apply w-2 h-1.5;
  }
  *::-webkit-scrollbar-track {
    @apply rounded-full w-10;
  }
  *::-webkit-scrollbar-track {
    @apply bg-transparent w-10;
  }
  *::-webkit-scrollbar-thumb {
    @apply rounded-full;
  }
  *::-webkit-scrollbar-thumb {
    @apply bg-gray-300 opacity-30 blur-2xl;
  }
}

@layer components {
  .btn {
    @apply rounded-4xl text-[15px] py-[19px] font-bold flex justify-center
  }

  .btn.primary {
    @apply text-white bg-primary
  }

  .btn.secondary {
    @apply text-typography-primary bg-surface
  }
}
